/* Base.css */
.active-item {
    position: relative;
    padding-left: 1.5rem;
  }
  
  .active-item::before {
    content: '>';
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(0.8, 1);
    margin-right: 0.5rem;
    color: black; /* Change this color to match the text color */
  }
  